.category-container {
  display: grid;
  grid-template-columns: 282px 1fr;
  max-width: 1290px;

  .left-wrap {
    display: flex;
    flex-direction: column;
    max-width: 282px;

    .category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 24px;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
    }
  }
  .right-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 48px;

    .choosen-category {
      display: flex;
      align-items: center;
      margin-top: 24px;
      font-family: Inter, sans-serif;
      font-size: 22px;
      font-style: normal;
      line-height: 32px;
    }

    .subcategories-wrap {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
      margin-top: 24px;
      .subcategories {
        display: grid;
        margin-top: 24px;
        .subcategorie-title {
          margin-bottom: 8px;
          font-family: Inter, sans-serif;
          font-size: 20px;
          font-style: normal;
          line-height: 24px;
        }

        .subcategorie {
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-style: normal;
          line-height: 24px;
          color: #1e293b;
        }
      }
    }
  }
}
