.cards-section__container:not(:nth-child(4n)) {
  margin-right: 10px;
}

.cards-section__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .card-image {
    display: inline-block;
    overflow: hidden;

    img {
      width: 306px;
      height: 240px;
      object-fit: contain;
      transition: 0.5s;
    }
  }

  .card-title {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #3b82f6;
  }

  .card-price {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #1e293b;
  }

  .card-adress {
    color: #64748b;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
  }

  .card-date {
    color: #64748b;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
  }
}

.cards-section__container:hover {
  cursor: pointer;

  img {
    transform: scale(1.2);
  }

  .card-title {
    color: #316dcc;
  }
}
