.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 40%;
  top: 40%;
  max-width: 416px;
  padding: 24px 36px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  .registration-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      font-family: Inter, sans-serif;
      font-size: 24px;
      font-style: normal;
      line-height: 32px;
      color: #1e293b;
    }
  }
  .registration-main {
    display: grid;
    margin-top: 24px;

    .error {
      margin-top: 5px;
    }

    .phone-number {
      width: 344px;
      padding: 12px;
      border-radius: 4px;
      border: 1px solid #cbd5e1;
    }
    .phone-number.input-error {
      border: 2px solid #ff0000;
    }

    .name {
      margin-top: 16px;
      width: 344px;
      padding: 12px;
      border-radius: 4px;
      border: 1px solid #cbd5e1;
    }
    .password {
      margin-top: 16px;
      padding: 12px;
      border-radius: 4px;
      border: 1px solid #cbd5e1;
    }
    .password.input-error {
      border: 2px solid #ff0000;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      .login-btn {
        padding: 12px 40px;
        margin-top: 24px;
      }
    }
  }
}
