.cards-section__container:not(:nth-child(4n)) {
  margin-right: 10px;
}

.cards-section__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-image {
    display: inline-block;
    overflow: hidden;

    img {
      transition: 0.5s;
    }
  }
}
